<robot name="mini_robot">
  <link name="base_link">
    <visual>
      <geometry><box size="0.2 0.2 0.1"/></geometry>
    </visual>
  </link>
  <joint name="arm_joint" type="continuous">
    <parent link="base_link"/>
    <child link="arm_link"/>
    <origin xyz="0 0 0.1"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="arm_link">
    <visual>
      <geometry><cylinder length="0.4" radius="0.05"/></geometry>
    </visual>
  </link>
</robot>
